/* google font name is sora */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

.sora_font {
  font-family: "Sora", sans-serif;
}

.bg_color{
  background-color: rgba(149, 56, 226, 1);
}

.text_color{
  color: rgba(149, 56, 226, 1);
}

.active{
  background-color: #154c79;
}